<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/83852126?v=4" alt="avatar">
      <div class="user-info">
        <strong>m_.kco</strong>
      </div>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/income">
        <span nz-icon nzType="fund"></span>
        <span>Income</span>
      </li>
      <li nz-menu-item routerLink="/expense">
        <span nz-icon nzType="fall"></span>
        <span>Expense</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>