.logo {
    display: flex;
    align-items: center;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    padding: 0 16px;
    color: white;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info strong {
    font-size: 16px;
}

.user-info span {
    font-size: 13px;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}

.logout-container {
    margin-top: 63vh;
    padding: 10px;
}